extends baseview
block head
	title Quiz Manager
	!=css("quiz")
	!=js("quiz")
block body
	#quizes(data-bind="foreach: quizes")
		.panel.panel-info
			.panel-heading
				span(data-bind="if:edit")
					input(data-bind="value: header")
					span.glyphicon.glyphicon-ok-circle.panel-control(data-bind="click: enableEdit(false)")
					span.glyphicon.glyphicon-remove.panel-control(data-bind="click: remove")		
				span(data-bind="if:edit()==false")		
					a.panel-title(data-bind="text: header, attr:{href : '#'+id}",data-toggle="collapse",data-parent="#quizes")				
					span.glyphicon.glyphicon-edit.panel-control(data-bind="click: enableEdit(true)")		
				
			.panel-collapse.collapse(data-bind="attr:{id:id}")
				.panel-body						
					textarea(data-bind="value: text,enable: edit")
	button.btn.btn-info(data-bind="click: quiz.add") Add

