extends baseview
block head
	title Quiz Manager
	!=css("quiz")
	!=js("quiz")
block body
	#quizes(data-bind="foreach: quizes")
		.panel.panel-info
			.panel-heading: .panel-title
				span(data-bind="if:edit")
					input(data-bind="value: title")
					a.glyphicon.glyphicon-ok-circle.panel-control(data-bind="click: enableEdit(false)")
					a.glyphicon.glyphicon-remove.panel-control(data-bind="attr:{href:'#quiz_remove'+id}",data-toggle="modal")		
				span(data-bind="if:edit()==false")		
					a.accordion-toggle(data-bind="text: title, attr:{href : '#quiz_'+id}",data-toggle="collapse",data-parent="#quizes")				
					a.glyphicon.glyphicon-edit.panel-control(data-bind="click: enableEdit(true)")
				
			.panel-collapse.collapse(data-bind="attr:{id:'quiz_'+id}")
				.panel-body						
					textarea(data-bind="value: text,enable: edit")
						
		.modal.fade(data-bind="attr:{id:'quiz_remove'+id}",tabindex=-1,role="dialog",aria-hidden="true")					
			.modal-dialog: .modal-content 
				.modal-body
					button.close(type="button",data-dismiss="modal",aria-hidden="true")&times;
					h4.modal-title 
						|Really remove&nbsp;
						b(data-bind="text:title")
						|&nbsp;?
				.modal-footer
						button.btn.btn-default(type="button",data-dismiss="modal") Close
						button.btn.btn-warning(type="button",data-bind="click:remove",data-dismiss="modal") Remove	
	button.btn.btn-info(data-bind="click: quiz.add") Add

