!!! 5
head
	title Some calc
	script(type="text/javascript",src="https://www.google.com/jsapi")
	!= js('somecalc')	
body
	p 
		span Dice:
			input(data-bind="value: dice")
		span Count:
			input(data-bind="value: count")
	table(border="1")
		tbody
			tr
				th Points
				// ko foreach: list
				td(data-bind="text: points")
				// /ko
			tr
				th Probability
				// ko foreach: list
				td(data-bind="text: value.toExponential(2)")
				// /ko
	#chart_div(data-bind="googleChart: list, title: chart.title, format: chart.format",style="width: 60%; height: 50%;")