!!! 5
head
	title Some calc
	!= css('calc')
	!= js('lib/require')
	!= js('somecalc')
body
	p Dice:
		input(data-bind="value: dice")
	p Count:
		input(data-bind="value: count")
	table
		thead
			tr
				th Points
				th Probability
		tbody
			tr(data-bind="foreach: list")
				td(data-bind="text: points")
				td(data-bind="text: value")

